<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- Font Awesome CDN for Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
  
  <!-- Header -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/">My Portfolio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Center the nav items -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Me</a>
          </li>
        </ul>

        <!-- Social Icons -->
        <div class="ml-auto social-icons d-flex align-items-center">
          <a href="https://www.instagram.com/miishant" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://github.com/miishant" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/miishant" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="mailto:miishantdalwadi@gmail.com">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main Content -->
  <div class="container">
    {{{body}}}
  </div>

  <!-- Footer -->
  <footer class="footer mt-auto">
    <div class="container">
      <span>&copy; 2024 My Portfolio | </span>
        <a href="https://github.com/miishant">GitHub</a> | 
        <a href="https://www.linkedin.com/in/miishant">LinkedIn</a>
        </div>
        </footer>
  
